<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Add Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="jumbotron text-center" style="margin-top: 30px">
    <h1 th:text="'Dokter ' + ${namaDokter} + ' dengan NIP '+ ${nipDokter} +' berhasil ditambahkan.'"></h1>
</div>

<a class="btn btn-link" th:href="'/'">Kembali Ke Home</a>

</body>
<nav th:replace="fragments/fragment :: footer"></nav>
</html>