<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title> Home </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <h2 style="text-align:center;"> Sistem Informasi Dokter </h2>
    <h3 class="badge-light text-lg-left"> Daftar Dokter </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>NIP</th>
                <th>NIK</th>
                <th>Jenis Kelamin</th>
                <th>Spesialisasi</th>
                <th>            </th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="dokter, iterationStatus: ${listDokter}">
            <td><h5 th:text = ${iterationStatus.count}></h5></td>

            <td><h5><a th:text = ${dokter.nama} th:href="@{/dokter?nikDokter=}+${dokter.nik}"></a></h5></td>

            <td><h5 th:text = ${dokter.nip}></h5></td>
            <td><h5 th:text = ${dokter.nik}></h5></td>
            <td><h5 th:text = ${dokter.jenisKelamin}></h5></td>
            <td >
                <h5 th:if="${dokter.listSpesialisasi == null}" th:text="-"></h5>
                <div th:unless="${dokter.listSpesialisasi == null}"th:each = "spesialisasi: ${dokter.listSpesialisasi}">
                    <h5 th:text="${spesialisasi.nama}"></h5>
                </div>
            </td>
            <td>
                <button type="submit" name="addJadwal" class="btn btn-sm btn-primary">Tambah Jadwal</button>
                <form th:action="@{/dokter/update/}+${dokter.idDokter}">
                    <button class="btn btn-sm btn-dark">Ubah</button>
                </form>
                <button type="submit" name="removeDokter" class="btn btn-sm btn-danger">hapus</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-sm btn-dark" th:href="'/dokter/tambah'">Tambah Dokter</a>

</div>
</body>
<nav th:replace="fragments/fragment :: footer"></nav>

</html>