<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add Dokter </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h3> Tambah Dokter</h3>
<form th:action="@{/dokter/tambah}" class="form-group" method="POST">

    <label class="col-sm-1 control-label">Nama</label>
    <input type="text" class="form-control-sm" th:field="${dokter.nama}"/> <br>
    <label class="col-sm-1 control-label">NIK</label>
    <input type="number" class="form-control-sm" th:field="${dokter.nik}"/> <br>
    <label class="col-sm-1 control-label">Tanggal Lahir</label>
    <input type="date" data-date-format="DDMMYYYY" class="form-control-sm" th:field="${dokter.tanggalLahir}"/> <br>
    <label class="col-sm-1 control-label">Tempat Lahir</label>
    <input type="text" class="form-control-sm" th:field="${dokter.tempatLahir}"/> <br>
    <label class="col-sm-1 control-label">Jenis Kelamin</label>
    <select class="form-control-sm" th:field="${dokter.jenisKelamin}">
        <option th:value="1">Laki-Laki</option>
        <option th:value="2">Perempuan</option>
    </select>
    <br>
    <label class="col-sm-1 control-label">Spesialisasi</label>
    <div th:each="spesialisasiDokter, iterationStatus: ${dokter.listSpesialisasi}">
        <select class="form-control-sm" th:field="${dokter.listSpesialisasi[__${iterationStatus.index}__].spesialisasi.idSpesialisasi}">
            <option th:each="spesialisasi, iStat : ${listSpesialisasi}"
                    th:value="${spesialisasi.idSpesialisasi}"
                    th:text="${spesialisasi.nama}"></option>
        </select>
    </div>
    <th><button type="submit" name="tambahSpesialisasi" class="btn-outline-primary">Tambah</button></th> <br>

    <input type="hidden" th:field="${dokter.nip}" value="masih kosong"/> <br>

    <button type="submit" name="submitDokter" class="btn-sm btn-primary"> Submit </button>
</form>
</body>
<nav th:replace="fragments/fragment :: footer"></nav>
</html>