<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title> Jumlah Dokter di spesialisasi </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h4 class="badge-light text-lg-left"> Jumlah Dokter Untuk Setiap Spesialisasi </h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Spesialisasi</th>
                    <th>Jumlah Dokter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="spesialisasi, iterationStatus: ${listSpesialisasi}">
                    <td><h6 th:text = ${iterationStatus.count}></h6></td>
                    <td><h6 th:text = ${spesialisasi.nama}></h6></td>
                    <td><h6 th:text = ${spesialisasi.getListDokter().size()}></h6></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
<nav th:replace="fragments/fragment :: footer"></nav>

</html>