<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title> View Poli </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 class="badge-light text-lg-center"> Detail Poli </h3>
        <p class="col-sm-1 control-label">Nama</p> <p th:text = ${poli.nama}></p>
        <p class="col-sm-1 control-label">Lokasi</p> <p th:text = ${poli.lokasi}></p>
        <br>
        <br>
        <a class="btn btn-link" th:href="'/'" style="justify-content: center">Kembali Ke Home</a>
    </div>
    <div class="col-sm-4"></div>
</div>

</body>
<nav th:replace="fragments/fragment :: footer"></nav>

</html>